In [126]:
import pandas as pd

reviews = pd.read_csv('new_reviews.csv')
reviews.head()

   Unnamed: 0  listing_id                                                  0
0           0       44077  We enjoyed our stay very much. The room was co...
1           1       44077  We have been here 4 nights. Stay in a home is ...
2           2       44077  Teresa and Hughie were great hosts. They were ...
3           3       44077  No surprises was as described.  Very gracious ...
4           4       44077  Teresa was a lovely hostess and we had a delig...

In [127]:
reviews = reviews.drop(['Unnamed: 0'], axis=1)
reviews['comments'] = reviews['0']
reviews = reviews.drop(['0'], axis=1)
reviews = reviews.dropna(subset=['comments'])
reviews

                listing_id                                           comments
0                    44077  We enjoyed our stay very much. The room was co...
1                    44077  We have been here 4 nights. Stay in a home is ...
2                    44077  Teresa and Hughie were great hosts. They were ...
3                    44077  No surprises was as described.  Very gracious ...
4                    44077  Teresa was a lovely hostess and we had a delig...
...                    ...                                                ...
243178  706148275480196839          Excellent location kindness and courtesy!
243179  706287276585342998  Jenny was able to get us in last minute and ex...
243180  706495821581154410  Very spacious; owners communicative. Only issu...
243181  707685389742134998  What a great host couple and great spot. Super...
243182  707825078259308780  Ana is a lovey host . There was an issue at 2 ...

[243161 rows x 2 columns]

In [128]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer
import nltk

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/eytins/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [129]:
stemmer = PorterStemmer()


def list_to_str_include_stem(l):
    res = ''
    for s in l:
        res = res + ' ' + stemmer.stem(s)
    return res

In [130]:
# Remove punctuation and stemmerize
tokenizer = CountVectorizer().build_tokenizer()
reviews['comments'] = reviews['comments'].apply(lambda x: list_to_str_include_stem(tokenizer(x)), 1)
reviews

                listing_id                                           comments
0                    44077   we enjoy our stay veri much the room wa comfo...
1                    44077   we have been here night stay in home is the b...
2                    44077   teresa and hughi were great host they were ve...
3                    44077   no surpris wa as describ veri graciou host ni...
4                    44077   teresa wa love hostess and we had delight sta...
...                    ...                                                ...
243178  706148275480196839                      excel locat kind and courtesi
243179  706287276585342998   jenni wa abl to get us in last minut and exte...
243180  706495821581154410   veri spaciou owner commun onli issu had wa no...
243181  707685389742134998   what great host coupl and great spot super cl...
243182  707825078259308780   ana is lovey host there wa an issu at am in t...

[243161 rows x 2 columns]

In [131]:
# Vectorize
stop_words = nltk.corpus.stopwords.words('english')
vectorizer = CountVectorizer(stop_words=stop_words, max_df=0.5, min_df=0.03)
X = vectorizer.fit_transform(reviews['comments'])
print(vectorizer.get_feature_names())
words_array = X.toarray()
print(words_array)
print(len(words_array[0]))

['10', '15', 'absolut', 'access', 'accommod', 'airbnb', 'airport', 'also', 'alway', 'amaz', 'ani', 'apart', 'area', 'around', 'arriv', 'avail', 'away', 'back', 'bar', 'bathroom', 'beauti', 'bed', 'bedroom', 'befor', 'best', 'bit', 'book', 'breakfast', 'bu', 'center', 'centr', 'central', 'check', 'citi', 'clean', 'close', 'coffe', 'come', 'comfort', 'commun', 'conveni', 'could', 'cozi', 'day', 'definit', 'distanc', 'dublin', 'dure', 'easi', 'enjoy', 'enough', 'equip', 'even', 'everyth', 'excel', 'experi', 'famili', 'fantast', 'feel', 'felt', 'find', 'flat', 'friendli', 'gave', 'get', 'go', 'good', 'great', 'ha', 'help', 'hi', 'highli', 'home', 'hospit', 'host', 'hous', 'kind', 'kitchen', 'like', 'littl', 'local', 'locat', 'look', 'lot', 'love', 'made', 'make', 'mani', 'min', 'minut', 'morn', 'much', 'near', 'need', 'neighborhood', 'next', 'nice', 'night', 'one', 'onli', 'park', 'peopl', 'perfect', 'place', 'provid', 'pub', 'question', 'quick', 'quiet', 'realli', 'recommend', 'respons', 'restaur', 'right', 'room', 'see', 'shop', 'short', 'shower', 'small', 'space', 'spaciou', 'stay', 'stop', 'street', 'super', 'take', 'templ', 'thank', 'thi', 'thing', 'time', 'tip', 'town', 'transport', 'travel', 'trip', 'two', 'us', 'use', 'veri', 'visit', 'wa', 'walk', 'want', 'warm', 'welcom', 'well', 'within', 'wonder', 'work', 'would']
[[0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 0]]
152

/Users/eytins/.conda/envs/ml/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [132]:
from pandas import DataFrame

words_df = DataFrame(words_array)
words_df

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
0,0,0,0,0,0,0,0,0,0,0,...,3,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,2,0,0,1,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243156,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
243157,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
243158,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
243159,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,1
243160,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [133]:
result = pd.concat([reviews['listing_id'], words_df], axis=1)
result.dropna()

,listing_id,0,1,2,3,4,5,6,7,8,...,142,143,144,145,146,147,148,149,150,151
0,4.407700e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,4.407700e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.407700e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
3,4.407700e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4.407700e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243156,7.094515e+17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243157,7.100541e+17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243158,7.036042e+17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243159,7.036042e+17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
243160,7.036042e+17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [134]:
result = result.groupby(by='listing_id')
result = result.agg('mean')
result

,0,1,2,3,4,5,6,7,8,9,...,142,143,144,145,146,147,148,149,150,151
listing_id,,,,,,,,,,,,,,,,,,,,,
4.407700e+04,0.058140,0.120155,0.058140,0.058140,0.077519,0.038760,0.027132,0.143411,0.073643,0.054264,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
8.515600e+04,0.061905,0.085714,0.076190,0.038095,0.123810,0.023810,0.047619,0.219048,0.057143,0.076190,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
1.598890e+05,0.056338,0.047887,0.025352,0.064789,0.073239,0.047887,0.295775,0.087324,0.092958,0.047887,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
1.628090e+05,0.033742,0.012270,0.033742,0.049080,0.113497,0.067485,0.030675,0.110429,0.058282,0.079755,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
1.658280e+05,0.093750,0.125000,0.000000,0.156250,0.078125,0.093750,0.125000,0.234375,0.031250,0.046875,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7.076854e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.078251e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.086799e+17,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7.094515e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7.100541e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [135]:
result = result.reset_index()
result

,listing_id,0,1,2,3,4,5,6,7,8,...,142,143,144,145,146,147,148,149,150,151
0,4.407700e+04,0.058140,0.120155,0.058140,0.058140,0.077519,0.038760,0.027132,0.143411,0.073643,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
1,8.515600e+04,0.061905,0.085714,0.076190,0.038095,0.123810,0.023810,0.047619,0.219048,0.057143,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
2,1.598890e+05,0.056338,0.047887,0.025352,0.064789,0.073239,0.047887,0.295775,0.087324,0.092958,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
3,1.628090e+05,0.033742,0.012270,0.033742,0.049080,0.113497,0.067485,0.030675,0.110429,0.058282,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
4,1.658280e+05,0.093750,0.125000,0.000000,0.156250,0.078125,0.093750,0.125000,0.234375,0.031250,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,7.076854e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6205,7.078251e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,7.086799e+17,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6207,7.094515e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6208,7.100541e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [136]:
result.fillna(0)

,listing_id,0,1,2,3,4,5,6,7,8,...,142,143,144,145,146,147,148,149,150,151
0,4.407700e+04,0.058140,0.120155,0.058140,0.058140,0.077519,0.038760,0.027132,0.143411,0.073643,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
1,8.515600e+04,0.061905,0.085714,0.076190,0.038095,0.123810,0.023810,0.047619,0.219048,0.057143,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
2,1.598890e+05,0.056338,0.047887,0.025352,0.064789,0.073239,0.047887,0.295775,0.087324,0.092958,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
3,1.628090e+05,0.033742,0.012270,0.033742,0.049080,0.113497,0.067485,0.030675,0.110429,0.058282,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
4,1.658280e+05,0.093750,0.125000,0.000000,0.156250,0.078125,0.093750,0.125000,0.234375,0.031250,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,7.076854e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6205,7.078251e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6206,7.086799e+17,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6207,7.094515e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6208,7.100541e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [137]:
result.rename(columns={'listing_id': 'id'}, inplace=True)
result

,id,0,1,2,3,4,5,6,7,8,...,142,143,144,145,146,147,148,149,150,151
0,4.407700e+04,0.058140,0.120155,0.058140,0.058140,0.077519,0.038760,0.027132,0.143411,0.073643,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
1,8.515600e+04,0.061905,0.085714,0.076190,0.038095,0.123810,0.023810,0.047619,0.219048,0.057143,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
2,1.598890e+05,0.056338,0.047887,0.025352,0.064789,0.073239,0.047887,0.295775,0.087324,0.092958,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
3,1.628090e+05,0.033742,0.012270,0.033742,0.049080,0.113497,0.067485,0.030675,0.110429,0.058282,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
4,1.658280e+05,0.093750,0.125000,0.000000,0.156250,0.078125,0.093750,0.125000,0.234375,0.031250,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,7.076854e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6205,7.078251e+17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,7.086799e+17,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6207,7.094515e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6208,7.100541e+17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [138]:
listings = pd.read_csv('new_listings1.csv')
listings.__len__()

6209

In [145]:
listings['id'] = listings['id'].astype('float64')
final = pd.merge(listings, result, on=['id'])
final

,Unnamed: 0,id,price,availability_30,number_of_reviews,first_review,reviews_per_month,review_scores_rating,review_scores_value,review_scores_checkin,...,142,143,144,145,146,147,148,149,150,151
0,0,4.407700e+04,70.0,2,258,4255,1.85,4.78,4.82,4.93,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
1,1,8.515600e+04,67.0,3,210,4190,1.53,4.79,4.78,4.90,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
2,2,1.598890e+05,45.0,1,355,3889,2.78,4.74,4.74,4.86,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
3,3,1.628090e+05,80.0,2,326,2721,3.68,4.84,4.85,4.95,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
4,4,1.658280e+05,251.0,1,64,4036,0.48,4.63,4.55,4.81,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,6204,7.076854e+17,100.0,0,1,63,1.00,5.00,4.00,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6205,6205,7.078251e+17,37.0,9,1,66,1.00,5.00,5.00,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,6206,7.086799e+17,800.0,29,1,62,1.00,5.00,5.00,5.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6207,6207,7.094515e+17,200.0,4,1,62,1.00,5.00,5.00,5.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6208,6208,7.100541e+17,131.0,5,1,63,1.00,5.00,5.00,5.00,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [146]:
final.columns.values.tolist()

['Unnamed: 0',
 'id',
 'price',
 'availability_30',
 'number_of_reviews',
 'first_review',
 'reviews_per_month',
 'review_scores_rating',
 'review_scores_value',
 'review_scores_checkin',
 'review_scores_accuracy',
 'review_scores_location',
 'review_scores_cleanliness',
 'review_scores_communication',
 'host_response_time_a few days or more',
 'host_response_time_unknown',
 'host_response_time_within a day',
 'host_response_time_within a few hours',
 'host_response_time_within an hour',
 'host_response_rate_0%-69%',
 'host_response_rate_70%-79%',
 'host_response_rate_80%-89%',
 'host_response_rate_90%-97%',
 'host_response_rate_98%-100%',
 'host_response_rate_unknown',
 'host_acceptance_rate_0%-69%',
 'host_acceptance_rate_70%-79%',
 'host_acceptance_rate_80%-89%',
 'host_acceptance_rate_90%-96%',
 'host_acceptance_rate_97%-100%',
 'host_acceptance_rate_unknown',
 'host_is_superhost_f',
 'host_is_superhost_t',
 'calculated_host_listings_count_1',
 'calculated_host_listings_count_10-29',
 'calculated_host_listings_count_2-4',
 'calculated_host_listings_count_5-9',
 'calculated_host_listings_count_>29',
 'host_identity_verified_f',
 'host_identity_verified_t',
 'neighbourhood_cleansed_Dn Laoghaire-Rathdown',
 'neighbourhood_cleansed_Dublin City',
 'neighbourhood_cleansed_Fingal',
 'neighbourhood_cleansed_South Dublin',
 'property_type_Entire condo',
 'property_type_Entire cottage',
 'property_type_Entire guest suite',
 'property_type_Entire guesthouse',
 'property_type_Entire home',
 'property_type_Entire rental unit',
 'property_type_Entire serviced apartment',
 'property_type_Entire townhouse',
 'property_type_Private room in bed and breakfast',
 'property_type_Private room in condo',
 'property_type_Private room in home',
 'property_type_Private room in rental unit',
 'property_type_Private room in townhouse',
 'property_type_Shared room in home',
 'property_type_Shared room in rental unit',
 'property_type_others',
 'room_type_Entire home/apt',
 'room_type_Hotel room',
 'room_type_Private room',
 'room_type_Shared room',
 'accommodates_1',
 'accommodates_2',
 'accommodates_3',
 'accommodates_4',
 'accommodates_5',
 'accommodates_>5',
 'bathrooms_text_1 bath',
 'bathrooms_text_1 private bath',
 'bathrooms_text_1 shared bath',
 'bathrooms_text_1.5 baths',
 'bathrooms_text_1.5 shared baths',
 'bathrooms_text_2 baths',
 'bathrooms_text_2 shared baths',
 'bathrooms_text_2.5 baths',
 'bathrooms_text_3 baths',
 'bathrooms_text_others',
 'bedrooms_1',
 'bedrooms_2',
 'bedrooms_3',
 'bedrooms_4',
 'bedrooms_5',
 'bedrooms_>5',
 'bedrooms_unknown',
 'beds_1',
 'beds_2',
 'beds_3',
 'beds_4',
 'beds_5',
 'beds_6',
 'beds_>6',
 'beds_unknown',
 'minimum_nights_1',
 'minimum_nights_2',
 'minimum_nights_3',
 'minimum_nights_4',
 'minimum_nights_5',
 'minimum_nights_6',
 'minimum_nights_7-33',
 'minimum_nights_>33',
 'has_availability_f',
 'has_availability_t',
 'instant_bookable_f',
 'instant_bookable_t',
 'amenities_Hot water kettle',
 'amenities_Fire extinguisher',
 'amenities_Outdoor furniture',
 'amenities_Dining table',
 'amenities_Indoor fireplace',
 'amenities_Cooking basics',
 'amenities_Breakfast',
 'amenities_Microwave',
 'amenities_Private fenced garden or backyard',
 'amenities_Central heating',
 'amenities_Clothing storage: closet',
 'amenities_Ethernet connection',
 'amenities_Dishes and silverware',
 'amenities_First aid kit',
 'amenities_Cleaning products',
 'amenities_Shower gel',
 'amenities_Lock on bedroom door',
 'amenities_Single level home',
 'amenities_Dishwasher',
 'amenities_Freezer',
 'amenities_Free street parking',
 'amenities_Bathtub',
 'amenities_Coffee maker',
 'amenities_Refrigerator',
 'amenities_Conditioner',
 'amenities_Body soap',
 'amenities_Bed linens',
 'amenities_Toaster',
 'amenities_Lockbox',
 'amenities_Room-darkening shades',
 'amenities_Outdoor dining area',
 'amenities_Wine glasses',
 'amenities_Extra pillows and blankets',
 'amenities_Oven',
 'amenities_Dryer',
 'amenities_Free parking on premises',
 'amenities_Luggage dropoff allowed',
 'amenities_TV with standard cable',
 'amenities_Cable TV',
 'amenities_Private patio or balcony',
 'amenities_Stove',
 'amenities_Laundromat nearby',
 'amenities_Crib',
 'amenities_Pack \\u2019n play/Travel crib',
 'amenities_Drying rack for clothing',
 'amenities_Backyard',
 'amenities_Host greets you',
 'amenities_Paid parking off premises',
 'amenities_Security cameras on property',
 'amenities_Private entrance',
 'amenities_High chair',
 'amenities_Dedicated workspace',
 'amenities_Children\\u2019s books and toys',
 'amenities_BBQ grill',
 'amenities_Paid parking on premises',
 'amenities_Baking sheet',
 'amenities_Patio or balcony',
 'amenities_TV',
 'amenities_Elevator',
 'amenities_Free washer \\u2013 In unit',
 'amenities_Free dryer \\u2013 In unit',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151]

In [147]:
final = final.drop(['Unnamed: 0'], axis=1)
final

,id,price,availability_30,number_of_reviews,first_review,reviews_per_month,review_scores_rating,review_scores_value,review_scores_checkin,review_scores_accuracy,...,142,143,144,145,146,147,148,149,150,151
0,4.407700e+04,70.0,2,258,4255,1.85,4.78,4.82,4.93,4.83,...,1.054264,0.131783,0.050388,0.135659,0.313953,0.158915,0.031008,0.197674,0.034884,0.286822
1,8.515600e+04,67.0,3,210,4190,1.53,4.79,4.78,4.90,4.86,...,0.919048,0.176190,0.080952,0.114286,0.252381,0.128571,0.033333,0.176190,0.014286,0.228571
2,1.598890e+05,45.0,1,355,3889,2.78,4.74,4.74,4.86,4.77,...,0.864789,0.104225,0.050704,0.073239,0.185915,0.092958,0.025352,0.092958,0.022535,0.171831
3,1.628090e+05,80.0,2,326,2721,3.68,4.84,4.85,4.95,4.88,...,1.098160,0.052147,0.052147,0.082822,0.236196,0.147239,0.006135,0.073620,0.015337,0.162577
4,1.658280e+05,251.0,1,64,4036,0.48,4.63,4.55,4.81,4.89,...,1.062500,0.218750,0.031250,0.062500,0.046875,0.406250,0.031250,0.156250,0.093750,0.328125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6204,7.076854e+17,100.0,0,1,63,1.00,5.00,4.00,5.00,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6205,7.078251e+17,37.0,9,1,66,1.00,5.00,5.00,5.00,5.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6206,7.086799e+17,800.0,29,1,62,1.00,5.00,5.00,5.00,5.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6207,7.094515e+17,200.0,4,1,62,1.00,5.00,5.00,5.00,5.00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6208,7.100541e+17,131.0,5,1,63,1.00,5.00,5.00,5.00,5.00,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [148]:
order = [
 'review_scores_rating',
 'review_scores_value',
 'review_scores_checkin',
 'review_scores_accuracy',
 'review_scores_location',
 'review_scores_cleanliness',
 'review_scores_communication',
    'id',
 'price',
 'availability_30',
 'number_of_reviews',
 'first_review',
 'reviews_per_month',
 'host_response_time_a few days or more',
 'host_response_time_unknown',
 'host_response_time_within a day',
 'host_response_time_within a few hours',
 'host_response_time_within an hour',
 'host_response_rate_0%-69%',
 'host_response_rate_70%-79%',
 'host_response_rate_80%-89%',
 'host_response_rate_90%-97%',
 'host_response_rate_98%-100%',
 'host_response_rate_unknown',
 'host_acceptance_rate_0%-69%',
 'host_acceptance_rate_70%-79%',
 'host_acceptance_rate_80%-89%',
 'host_acceptance_rate_90%-96%',
 'host_acceptance_rate_97%-100%',
 'host_acceptance_rate_unknown',
 'host_is_superhost_f',
 'host_is_superhost_t',
 'calculated_host_listings_count_1',
 'calculated_host_listings_count_10-29',
 'calculated_host_listings_count_2-4',
 'calculated_host_listings_count_5-9',
 'calculated_host_listings_count_>29',
 'host_identity_verified_f',
 'host_identity_verified_t',
 'neighbourhood_cleansed_Dn Laoghaire-Rathdown',
 'neighbourhood_cleansed_Dublin City',
 'neighbourhood_cleansed_Fingal',
 'neighbourhood_cleansed_South Dublin',
 'property_type_Entire condo',
 'property_type_Entire cottage',
 'property_type_Entire guest suite',
 'property_type_Entire guesthouse',
 'property_type_Entire home',
 'property_type_Entire rental unit',
 'property_type_Entire serviced apartment',
 'property_type_Entire townhouse',
 'property_type_Private room in bed and breakfast',
 'property_type_Private room in condo',
 'property_type_Private room in home',
 'property_type_Private room in rental unit',
 'property_type_Private room in townhouse',
 'property_type_Shared room in home',
 'property_type_Shared room in rental unit',
 'property_type_others',
 'room_type_Entire home/apt',
 'room_type_Hotel room',
 'room_type_Private room',
 'room_type_Shared room',
 'accommodates_1',
 'accommodates_2',
 'accommodates_3',
 'accommodates_4',
 'accommodates_5',
 'accommodates_>5',
 'bathrooms_text_1 bath',
 'bathrooms_text_1 private bath',
 'bathrooms_text_1 shared bath',
 'bathrooms_text_1.5 baths',
 'bathrooms_text_1.5 shared baths',
 'bathrooms_text_2 baths',
 'bathrooms_text_2 shared baths',
 'bathrooms_text_2.5 baths',
 'bathrooms_text_3 baths',
 'bathrooms_text_others',
 'bedrooms_1',
 'bedrooms_2',
 'bedrooms_3',
 'bedrooms_4',
 'bedrooms_5',
 'bedrooms_>5',
 'bedrooms_unknown',
 'beds_1',
 'beds_2',
 'beds_3',
 'beds_4',
 'beds_5',
 'beds_6',
 'beds_>6',
 'beds_unknown',
 'minimum_nights_1',
 'minimum_nights_2',
 'minimum_nights_3',
 'minimum_nights_4',
 'minimum_nights_5',
 'minimum_nights_6',
 'minimum_nights_7-33',
 'minimum_nights_>33',
 'has_availability_f',
 'has_availability_t',
 'instant_bookable_f',
 'instant_bookable_t',
 'amenities_Hot water kettle',
 'amenities_Fire extinguisher',
 'amenities_Outdoor furniture',
 'amenities_Dining table',
 'amenities_Indoor fireplace',
 'amenities_Cooking basics',
 'amenities_Breakfast',
 'amenities_Microwave',
 'amenities_Private fenced garden or backyard',
 'amenities_Central heating',
 'amenities_Clothing storage: closet',
 'amenities_Ethernet connection',
 'amenities_Dishes and silverware',
 'amenities_First aid kit',
 'amenities_Cleaning products',
 'amenities_Shower gel',
 'amenities_Lock on bedroom door',
 'amenities_Single level home',
 'amenities_Dishwasher',
 'amenities_Freezer',
 'amenities_Free street parking',
 'amenities_Bathtub',
 'amenities_Coffee maker',
 'amenities_Refrigerator',
 'amenities_Conditioner',
 'amenities_Body soap',
 'amenities_Bed linens',
 'amenities_Toaster',
 'amenities_Lockbox',
 'amenities_Room-darkening shades',
 'amenities_Outdoor dining area',
 'amenities_Wine glasses',
 'amenities_Extra pillows and blankets',
 'amenities_Oven',
 'amenities_Dryer',
 'amenities_Free parking on premises',
 'amenities_Luggage dropoff allowed',
 'amenities_TV with standard cable',
 'amenities_Cable TV',
 'amenities_Private patio or balcony',
 'amenities_Stove',
 'amenities_Laundromat nearby',
 'amenities_Crib',
 'amenities_Pack \\u2019n play/Travel crib',
 'amenities_Drying rack for clothing',
 'amenities_Backyard',
 'amenities_Host greets you',
 'amenities_Paid parking off premises',
 'amenities_Security cameras on property',
 'amenities_Private entrance',
 'amenities_High chair',
 'amenities_Dedicated workspace',
 'amenities_Children\\u2019s books and toys',
 'amenities_BBQ grill',
 'amenities_Paid parking on premises',
 'amenities_Baking sheet',
 'amenities_Patio or balcony',
 'amenities_TV',
 'amenities_Elevator',
 'amenities_Free washer \\u2013 In unit',
 'amenities_Free dryer \\u2013 In unit',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151]
final = final[order]
final = final.drop(['id'], axis=1)
final.columns.values.tolist()

['review_scores_rating',
 'review_scores_value',
 'review_scores_checkin',
 'review_scores_accuracy',
 'review_scores_location',
 'review_scores_cleanliness',
 'review_scores_communication',
 'price',
 'availability_30',
 'number_of_reviews',
 'first_review',
 'reviews_per_month',
 'host_response_time_a few days or more',
 'host_response_time_unknown',
 'host_response_time_within a day',
 'host_response_time_within a few hours',
 'host_response_time_within an hour',
 'host_response_rate_0%-69%',
 'host_response_rate_70%-79%',
 'host_response_rate_80%-89%',
 'host_response_rate_90%-97%',
 'host_response_rate_98%-100%',
 'host_response_rate_unknown',
 'host_acceptance_rate_0%-69%',
 'host_acceptance_rate_70%-79%',
 'host_acceptance_rate_80%-89%',
 'host_acceptance_rate_90%-96%',
 'host_acceptance_rate_97%-100%',
 'host_acceptance_rate_unknown',
 'host_is_superhost_f',
 'host_is_superhost_t',
 'calculated_host_listings_count_1',
 'calculated_host_listings_count_10-29',
 'calculated_host_listings_count_2-4',
 'calculated_host_listings_count_5-9',
 'calculated_host_listings_count_>29',
 'host_identity_verified_f',
 'host_identity_verified_t',
 'neighbourhood_cleansed_Dn Laoghaire-Rathdown',
 'neighbourhood_cleansed_Dublin City',
 'neighbourhood_cleansed_Fingal',
 'neighbourhood_cleansed_South Dublin',
 'property_type_Entire condo',
 'property_type_Entire cottage',
 'property_type_Entire guest suite',
 'property_type_Entire guesthouse',
 'property_type_Entire home',
 'property_type_Entire rental unit',
 'property_type_Entire serviced apartment',
 'property_type_Entire townhouse',
 'property_type_Private room in bed and breakfast',
 'property_type_Private room in condo',
 'property_type_Private room in home',
 'property_type_Private room in rental unit',
 'property_type_Private room in townhouse',
 'property_type_Shared room in home',
 'property_type_Shared room in rental unit',
 'property_type_others',
 'room_type_Entire home/apt',
 'room_type_Hotel room',
 'room_type_Private room',
 'room_type_Shared room',
 'accommodates_1',
 'accommodates_2',
 'accommodates_3',
 'accommodates_4',
 'accommodates_5',
 'accommodates_>5',
 'bathrooms_text_1 bath',
 'bathrooms_text_1 private bath',
 'bathrooms_text_1 shared bath',
 'bathrooms_text_1.5 baths',
 'bathrooms_text_1.5 shared baths',
 'bathrooms_text_2 baths',
 'bathrooms_text_2 shared baths',
 'bathrooms_text_2.5 baths',
 'bathrooms_text_3 baths',
 'bathrooms_text_others',
 'bedrooms_1',
 'bedrooms_2',
 'bedrooms_3',
 'bedrooms_4',
 'bedrooms_5',
 'bedrooms_>5',
 'bedrooms_unknown',
 'beds_1',
 'beds_2',
 'beds_3',
 'beds_4',
 'beds_5',
 'beds_6',
 'beds_>6',
 'beds_unknown',
 'minimum_nights_1',
 'minimum_nights_2',
 'minimum_nights_3',
 'minimum_nights_4',
 'minimum_nights_5',
 'minimum_nights_6',
 'minimum_nights_7-33',
 'minimum_nights_>33',
 'has_availability_f',
 'has_availability_t',
 'instant_bookable_f',
 'instant_bookable_t',
 'amenities_Hot water kettle',
 'amenities_Fire extinguisher',
 'amenities_Outdoor furniture',
 'amenities_Dining table',
 'amenities_Indoor fireplace',
 'amenities_Cooking basics',
 'amenities_Breakfast',
 'amenities_Microwave',
 'amenities_Private fenced garden or backyard',
 'amenities_Central heating',
 'amenities_Clothing storage: closet',
 'amenities_Ethernet connection',
 'amenities_Dishes and silverware',
 'amenities_First aid kit',
 'amenities_Cleaning products',
 'amenities_Shower gel',
 'amenities_Lock on bedroom door',
 'amenities_Single level home',
 'amenities_Dishwasher',
 'amenities_Freezer',
 'amenities_Free street parking',
 'amenities_Bathtub',
 'amenities_Coffee maker',
 'amenities_Refrigerator',
 'amenities_Conditioner',
 'amenities_Body soap',
 'amenities_Bed linens',
 'amenities_Toaster',
 'amenities_Lockbox',
 'amenities_Room-darkening shades',
 'amenities_Outdoor dining area',
 'amenities_Wine glasses',
 'amenities_Extra pillows and blankets',
 'amenities_Oven',
 'amenities_Dryer',
 'amenities_Free parking on premises',
 'amenities_Luggage dropoff allowed',
 'amenities_TV with standard cable',
 'amenities_Cable TV',
 'amenities_Private patio or balcony',
 'amenities_Stove',
 'amenities_Laundromat nearby',
 'amenities_Crib',
 'amenities_Pack \\u2019n play/Travel crib',
 'amenities_Drying rack for clothing',
 'amenities_Backyard',
 'amenities_Host greets you',
 'amenities_Paid parking off premises',
 'amenities_Security cameras on property',
 'amenities_Private entrance',
 'amenities_High chair',
 'amenities_Dedicated workspace',
 'amenities_Children\\u2019s books and toys',
 'amenities_BBQ grill',
 'amenities_Paid parking on premises',
 'amenities_Baking sheet',
 'amenities_Patio or balcony',
 'amenities_TV',
 'amenities_Elevator',
 'amenities_Free washer \\u2013 In unit',
 'amenities_Free dryer \\u2013 In unit',
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151]

In [149]:
final.to_csv('final_features.csv')