In [32]:
import pandas as pd

listings = pd.read_csv('listings.csv')
reviews = pd.read_csv('reviews.csv')

## All possible useful features:

[0:id, 7:neighborhood_overview, 9:host_id, 15:host_response_time, 16:host_response_rate, 17:host_acceptance_rate(Survivorship bias?), 18:host_is_superhost, 22:host_listings_count, 24:host_verifications, 26:host_identity_verified, 28:neighbourhood_cleansed, 30:latitude, 31:longitude, 32:property_type, 33:room_type, 34:accommodates, 36:bathrooms_text, 37:bedrooms, 38:beds, 39:amenities, 40:price, 41:minimum_nights, 50:has_availability, 51:availability_30, 52:availability_60, 53:availability_90, 54:availability_365, 56:number_of_reviews, 57:number_of_reviews_ltm, 58:number_of_reviews_l30d, 59:first_review, 69:instant_bookable, 70:calculated_host_listings_count, 74:reviews_per_month]

In [33]:
listings = listings.set_index('id')
listings['review_text_score'] = None

                                                        listing_url  \
id
44077                            https://www.airbnb.com/rooms/44077
85156                            https://www.airbnb.com/rooms/85156
159889                          https://www.airbnb.com/rooms/159889
162809                          https://www.airbnb.com/rooms/162809
165828                          https://www.airbnb.com/rooms/165828
...                                                             ...
712909401324393615  https://www.airbnb.com/rooms/712909401324393615
712914322433199115  https://www.airbnb.com/rooms/712914322433199115
712914393022526732  https://www.airbnb.com/rooms/712914393022526732
712966369602352444  https://www.airbnb.com/rooms/712966369602352444
713034176403340330  https://www.airbnb.com/rooms/713034176403340330

                         scrape_id last_scraped       source  \
id
44077               20220911231053   2022-09-12  city scrape
85156               20220911231053   2022-09-12  city scrape
159889              20220911231053   2022-09-12  city scrape
162809              20220911231053   2022-09-11  city scrape
165828              20220911231053   2022-09-11  city scrape
...                            ...          ...          ...
712909401324393615  20220911231053   2022-09-12  city scrape
712914322433199115  20220911231053   2022-09-12  city scrape
712914393022526732  20220911231053   2022-09-11  city scrape
712966369602352444  20220911231053   2022-09-12  city scrape
713034176403340330  20220911231053   2022-09-12  city scrape

                                                                 name  \
id
44077                             cosy comfortable Irish cottage twin
85156                    Cosy Comfortable Irish Cottage  1 Double Bed
159889                                           Friendly Single Room
162809                             5.5 miles south of Dublin City :^)
165828                                 Pádraig Pearse apt. Kilmainham
...                                                               ...
712909401324393615      Comfortable double room with private bathroom
712914322433199115  Welcome 1-bedroom available. Free parking & Wi-Fi
712914393022526732     Cheerful 5-bedroom Home Friendly Irish Welcome
712966369602352444                     Double Bedroom in Private Home
713034176403340330                               Cozy Basement studio

                                                          description  \
id
44077               Our house was built in 1937 when there was ple...
85156               Our Cottage is a charming light filled cottage...
159889              Washing can be done at a cost of €5  per load....
162809              A nice place to relax after the bustle of the ...
165828              Don't just visit Dublin, experience Dublin in ...
...                                                               ...
712909401324393615  Comfortable double room with private bathroom ...
712914322433199115  Single room available in family home. Bus rout...
712914393022526732  Forget your worries in this spacious and seren...
712966369602352444  Large double room with panoramic views of Fr. ...
713034176403340330  Keep it simple at this peaceful and centrally-...

                                                neighborhood_overview  \
id
44077               I like our neighbourhood as there is no shorta...
85156               I love Dundrum and its surrounding areas ,<br ...
159889              Plenty of buses into the city and the area is ...
162809              Close to the sea, hill walks and the city - vi...
165828              Enjoy a walk along the grand canal, or just ob...
...                                                               ...
712909401324393615                                                NaN
712914322433199115                                                NaN
712914393022526732  Fantastic transport routes, 5 mins from luas g...
712966369602352444  Clongriffin dart station and 15 bus close by. ...
713034176403340330                                                NaN

                                                          picture_url  \
id
44077               https://a0.muscache.com/pictures/525706/050a3a...
85156               https://a0.muscache.com/pictures/1749253/9ed2a...
159889              https://a0.muscache.com/pictures/3031697/a8259...
162809              https://a0.muscache.com/pictures/86694529/c07b...
165828              https://a0.muscache.com/pictures/34311419/b3f6...
...                                                               ...
712909401324393615  https://a0.muscache.com/pictures/miso/Hosting-...
712914322433199115  https://a0.muscache.com/pictures/4c044921-f6fd...
712914393022526732  https://a0.muscache.com/pictures/53ed618c-3c14...
712966369602352444  https://a0.muscache.com/pictures/miso/Hosting-...
713034176403340330  https://a0.muscache.com/pictures/miso/Hosting-...

                      host_id                                     host_url  \
id
44077                  193005     https://www.airbnb.com/users/show/193005
85156                  193005     https://www.airbnb.com/users/show/193005
159889                 766611     https://www.airbnb.com/users/show/766611
162809                 777681     https://www.airbnb.com/users/show/777681
165828                 790601     https://www.airbnb.com/users/show/790601
...                       ...                                          ...
712909401324393615   38652370   https://www.airbnb.com/users/show/38652370
712914322433199115   89156390   https://www.airbnb.com/users/show/89156390
712914393022526732  128213034  https://www.airbnb.com/users/show/128213034
712966369602352444  256847071  https://www.airbnb.com/users/show/256847071
713034176403340330  403801975  https://www.airbnb.com/users/show/403801975

                    ... review_scores_location review_scores_value license  \
id                  ...
44077               ...                   4.66                4.82     NaN
85156               ...                   4.64                4.78     NaN
159889              ...                   4.63                4.74     NaN
162809              ...                   4.77                4.85     NaN
165828              ...                   4.34                4.55     NaN
...                 ...                    ...                 ...     ...
712909401324393615  ...                    NaN                 NaN     NaN
712914322433199115  ...                    NaN                 NaN     NaN
712914393022526732  ...                    NaN                 NaN     NaN
712966369602352444  ...                    NaN                 NaN     NaN
713034176403340330  ...                    NaN                 NaN     NaN

                   instant_bookable calculated_host_listings_count  \
id
44077                             f                              2
85156                             f                              2
159889                            f                              3
162809                            f                              2
165828                            t                              5
...                             ...                            ...
712909401324393615                f                              1
712914322433199115                f                              2
712914393022526732                t                              2
712966369602352444                t                              1
713034176403340330                f                              3

                   calculated_host_listings_count_entire_homes  \
id
44077                                                        0
85156                                                        0
159889                                                       0
162809                                                       0
165828                                                       5
...                                                        ...
712909401324393615                                           0
712914322433199115                                           0
712914393022526732                                           0
712966369602352444                                           0
713034176403340330                                           1

                   calculated_host_listings_count_private_rooms  \
id
44077                                                         2
85156                                                         2
159889                                                        3
162809                                                        2
165828                                                        0
...                                                         ...
712909401324393615                                            1
712914322433199115                                            2
712914393022526732                                            2
712966369602352444                                            1
713034176403340330                                            2

                   calculated_host_listings_count_shared_rooms  \
id
44077                                                        0
85156                                                        0
159889                                                       0
162809                                                       0
165828                                                       0
...                                                        ...
712909401324393615                                           0
712914322433199115                                           0
712914393022526732                                           0
712966369602352444                                           0
713034176403340330                                           0

                   reviews_per_month review_text_score
id
44077                           1.85              None
85156                           1.53              None
159889                          2.78              None
162809                          3.68              None
165828                          0.48              None
...                              ...               ...
712909401324393615               NaN              None
712914322433199115               NaN              None
712914393022526732               NaN              None
712966369602352444               NaN              None
713034176403340330               NaN              None

[7566 rows x 75 columns]

In [37]:
idi = 44077
listings.loc[idi, 'review_text_score'] = 'Hi'

Hi

In [39]:
# 算出来一个或者一些啥啥分然后加到listing里
reviews.query('listing_id == ' + str(44077))

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,44077,203703,2011-03-20,393348,Christian,We enjoyed our stay very much. The room was co...
1,44077,211369,2011-03-28,444004,Solidea,We have been here 4 nights. Stay in a home is ...
2,44077,234215,2011-04-21,465058,Michael And Isabelle,Teresa and Hughie were great hosts. They were ...
3,44077,261843,2011-05-13,490005,Weston,"No surprises, was as described. Very gracious..."
4,44077,268148,2011-05-17,520460,Barbara,"Teresa was a lovely hostess, and we had a deli..."
...,...,...,...,...,...,...
732,44077,699882454849902312,2022-08-23,414867232,Marthina,Teresa’s home is great and they were very acco...
733,44077,703399914093479832,2022-08-28,313455460,Karen,"Lovely area, good tips from Teresa, easy acces..."
734,44077,706305988262252315,2022-09-01,179954658,Noah,Amazing stay and location with hospitable host
735,44077,708578042971641645,2022-09-04,332315711,Nathalie,Je recommande vivement ce logement - Très bien...
736,44077,712101036687397788,2022-09-09,134598589,Marion,Good value

In [ ]:
# reviews参数化然后添加到列